.modal {
    .modal-body {
        padding: 30px;
    }
    .modal-footer {
        border-top:0;
        justify-content: center;
        padding-bottom: 30px;
    }
   .close {
       position: absolute;
       right: 30px;
       top:-25px;
       font-size: 30px;
       span {
           display: none;
        }
        &:after {
            background: $color-secondary;
            width: 25px;
            height: 1px;
            display: block;
            content: "";
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &:before {
            background: $color-secondary;
            width: 25px;
            height: 1px;
            display: block;
            content: "";
            transform: rotate(-45deg);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }


   }
}