<header>
    
    <div class="py-4 d-inline-block">
        <h1 class="h1 main-title d-inline-block">Portal Clínica - <span class="js-clinica">Sanitas</span></h1>    
    </div>
    
    <div class="float-right d-flex align-content-center align-items-center">

        <div class="d-inline-block px-3">
            <div class="user-wrapper">
                <div class="user">
                    <span class="d-block">Bienvenido</span>
                    <span class="color-secondary font-bold">Pau Sorribes</span>
                </div>
        
                <img src="img/icons/ico-logged.png" class="ico sm"/>
        
            </div>
            <div class="d-block">
                <a href="" class="ml-2"><span class="icon icon-help xs"></span>Necesitas Ayuda</a>
                <a href="" class="ml-2"><span class="icon icon-logout xs"></span>Logout</a>
        
            </div>
        
        </div>

        <div class="logo-clinica-wrapper">
            <img src="img/logo-sanitas.png" class="logo-clinica"/>
        </div>
    

    </div>




</header>